<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>Mi Perfil</title>
        <link href="/css/profile.css" rel="stylesheet">

</head>

<body>

    <header>
        <%- include("./partials/header-main") %>
    </header>

    <main>

        <section class="section-profile-left">

            <div class="container-img-name">
                <% if (perfil.img) { %>
                    <!-- Si la imagen existe, mostrarla -->
                    <img src="/imgs/users/<%= perfil.img %>" alt="Foto de perfil">
                <% } else { %>
                    <!-- Si la imagen no existe, no mostrar nada -->
                <% } %>
                <h3>
                    <%= perfil.nombre %>
                        <%= perfil.apellido %>
                </h3>
                <p>
                    <%= perfil.email %>
                </p>
            </div>

            <div class="container-list-profile">
                <ul class="list-profile">

                    <li class="list">
                        <i class="fa-solid fa-house fa-lg" style="color: black;"></i>
                        <p>Inicio</p>
                    </li>

                    <li class="list">
                        <i class="fa-solid fa-user fa-lg" style="color: black;"></i>
                        <p>Mi perfil</p>
                    </li>

                    <li class="list">
                        <i class="fa-solid fa-location-dot fa-lg" style="color: black;"></i>
                        <p>Mis direcciones</p>
                    </li>

                    <li class="list">
                        <i class="fa-solid fa-receipt fa-lg" style="color: black;"></i>
                        <p>Mis pedidos</p>
                    </li>
                </ul>
            </div>
        </section>

        <section class="section-profile-right">

            <ul class="container-my-acount">

                <h1>Mi Cuenta</h1>

                <li class="my-acount-list">
                    <p>Email: <%= perfil.email %>
                    </p>
                </li>

                <li class="my-acount-list">
                    <p>Numero de celular: <%= perfil.numero_celular %>
                    </p>
                </li>

                <li class="my-acount-list">
                    <p>Fecha de nacimiento: <%= perfil.nacimiento %>
                    </p>
                </li>

                <li class="my-acount-list">
                    <p>Cerrar sesion</p>
                </li>
            </ul>

        </section>

    </main>

    <footer>
        <%- include("./partials/footer-franquicias") %>
    </footer>

</body>

</html>