<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>Mi Perfil</title>
        <link href="/css/profile.css" rel="stylesheet">

</head>

<body>

    <header>
        <%- include("./partials/header-main") %>
    </header>

    <main>

        <section class="section-profile">

            <div class="container-img-name">
                <% if (perfil.img) { %>
                    <!-- Si la imagen existe, mostrarla -->
                        <img src="/imgs/users/<%= perfil.img %>" alt="Foto de perfil">
                    <% } else { %>
                        <!-- Si la imagen no existe, no mostrar nada -->
                        <% } %>
                            <h3>
                                <%= perfil.nombre %>
                                    <%= perfil.apellido %>
                            </h3>
            </div>

            <div class="container-list-profile">
                <ul class="list-profile">

                    <li class="list">
                        <i class="fa-solid fa-user fa-lg"></i>
                        <p>Mi perfil</p>
                    </li>
                    <ul class="container-my-acount">
                        <li class="my-acount-list">
                            <p>Email: <%= perfil.email %>
                            </p>
                        </li>

                        <li class="my-acount-list">
                            <p>Fecha de nacimiento: <%= perfil.nacimiento %>
                            </p>
                        </li>

                    </ul>

                    <li class="list">
                        <i class="fa-solid fa-location-dot fa-lg"></i>
                        <p>Mis direcciones</p>
                    </li>

                    <ul class="container-my-acount">
                        <li class="my-acount-list">
                            <p>
                                <%= perfil.direccion %>
                            </p>
                        </li>

                    </ul>

                </ul>
            </div>

            <div class="agregar-eliminar-editar-button">

                <a href="/users/profile/<%= perfil.email %>/editar-perfil">
                    <button class="agregar-quitar-button-detail">EDITAR PERFIL</button>
                </a>


            </div>

        </section>

    </main>

    <footer>
        <%- include("./partials/footer-franquicias") %>
    </footer>

</body>

</html>