<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Detalle de producto</title>
    <link href="/css/detalle-producto.css" rel="stylesheet">
</head>
<body>
    <header class="detalle-main-header">
        <a href="/products/menu" class="back-button"><i class="fa-solid fa-circle-arrow-left fa-lg" style="color: #ffffff;"></i></a>
        <div class="container-producto">
            <img class="foto-producto" src="<%=product.imgs%>" width=50px alt="Foto Producto">
        </div>
        
    </header>
    
    <main>
        <section class="detalle-descripcion-producto">
            <p class="mas-vendido">Más vendido</p>

            <h1>Detalles del producto <%= product.id %></h1>

            <h2 class="titulo-producto">Nombre: <%= product.name %></h2>

            <p class="descripcion-producto"> <%= product.description %> </p>

            <h3 class="precio">Precio: <%= product.price %></h3>

            <form action="/products/<%= product.id %>/delete?_method=delete" method="post">
                <input type="submit" value="Eliminar producto"></input>
              </form>
              <br>
              <a href="/products/<%= product.id %>/editar-producto">
                <button>Editar producto</button>
              </a>
        </section>

    </main>
    <footer>
        <%- include("./partials/footer-detalle")  %>
    </footer>
</body>
</html>