<!DOCTYPE html>
<html lang="en"> 
<head>
    <%- include("./partials/head") %>
    <title>Menú</title>
    <link href="/css/menu.css" rel="stylesheet">
</head> 
<body>
    <header>
        <%- include("./partials/header-main") %>
    </header>
    
    <main> 
        <div class="seccion" id="tapeo">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\tapeo-papas-completas-banner.jpg" alt="Foto Tapeo"> 
                <h2 class="title-banner">Tapeo</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <% tapeo.forEach(product => { %>
                        <li class="producto">
                            <div class="foto-nombre-detalle">
                                <a href="/products/detalle-producto"><img class="foto-producto" src="<%=product.image%>" width=50px alt="Foto Producto"></a>
                                <div class="nombre-detalle">    
                                    <p class="titulo-producto"><%= product.name %></p>
                                    <p class="detalle-producto"><%= product.description %></p>
                                </div>
                            </div>
                            <p class="precio">$<%= product.price %></p>    
                        </li>
                    <% }) %>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="burgers">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\burgers-banner.jpg" alt="Foto burguers"> 
                <h2 class="title-banner">Burgers</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <% burgers.forEach(product => { %>
                        <li class="producto">
                            <div class="foto-nombre-detalle">
                                <a href="/products/detalle-producto"><img class="foto-producto" src="<%=product.image%>" width=50px alt="Foto Producto"></a>
                                <div class="nombre-detalle">    
                                    <p class="titulo-producto"><%= product.name %></p>
                                    <p class="detalle-producto"><%= product.description %></p>
                                </div>
                            </div>
                            <p class="precio">$<%= product.price %></p>    
                        </li>
                    <% }) %>
                </ul>
            </div>          
        </div>

        <div class="seccion" id="sandwiches">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\sandwich-banner.jpg" alt="Foto sandwiches"> 
                <h2 class="title-banner">Sandwiches</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <% sandwiches.forEach(product => { %>
                        <li class="producto">
                            <div class="foto-nombre-detalle">
                                <a href="/products/detalle-producto"><img class="foto-producto" src="<%=product.image%>" width=50px alt="Foto Producto"></a>
                                <div class="nombre-detalle">    
                                    <p class="titulo-producto"><%= product.name %></p>
                                    <p class="detalle-producto"><%= product.description %></p>
                                </div>
                            </div>
                            <p class="precio">$<%= product.price %></p>    
                        </li>
                    <% }) %>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="wraps">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\pizza-banner.jpg" alt="Wraps"> 
                <h2 class="title-banner">Wraps</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <% wraps.forEach(product => { %>
                        <li class="producto">
                            <div class="foto-nombre-detalle">
                                <a href="/products/detalle-producto"><img class="foto-producto" src="<%=product.image%>" width=50px alt="Foto Producto"></a>
                                <div class="nombre-detalle">    
                                    <p class="titulo-producto"><%= product.name %></p>
                                    <p class="detalle-producto"><%= product.description %></p>
                                </div>
                            </div>
                            <p class="precio">$<%= product.price %></p>    
                        </li>
                    <% }) %>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="sintacc">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\sintacc-banner.jpg" alt="Foto sintacc"> 
                <h2 class="title-banner">Sin TACC</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <% sinTACC.forEach(product => { %>
                        <li class="producto">
                            <div class="foto-nombre-detalle">
                                <a href="/products/detalle-producto"><img class="foto-producto" src="<%=product.image%>" width=50px alt="Foto Producto"></a>
                                <div class="nombre-detalle">    
                                    <p class="titulo-producto"><%= product.name %></p>
                                    <p class="detalle-producto"><%= product.description %></p>
                                </div>
                            </div>
                            <p class="precio">$<%= product.price %></p>    
                        </li>
                    <% }) %>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="vegano">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\vegano-banner.jpg" alt="Foto vegano"> 
                <h2 class="title-banner">Vegano</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <% vegano.forEach(product => { %>
                        <li class="producto">
                            <div class="foto-nombre-detalle">
                                <a href="/products/detalle-producto"><img class="foto-producto" src="<%=product.image%>" width=50px alt="Foto Producto"></a>
                                <div class="nombre-detalle">    
                                    <p class="titulo-producto"><%= product.name %></p>
                                    <p class="detalle-producto"><%= product.description %></p>
                                </div>
                            </div>
                            <p class="precio">$<%= product.price %></p>    
                        </li>
                    <% }) %>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="cervezas">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\cerveza-banner.jpg" alt="Foto cervezas"> 
                <h2 class="title-banner">Cervezas</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <% cervezas.forEach(product => { %>
                        <li class="producto">
                            <div class="foto-nombre-detalle">
                                <a href="/products/detalle-producto"><img class="foto-producto" src="<%=product.image%>" width=50px alt="Foto Producto"></a>
                                <div class="nombre-detalle">    
                                    <p class="titulo-producto"><%= product.name %></p>
                                    <p class="detalle-producto"><%= product.description %></p>
                                </div>
                            </div>
                            <p class="precio">$<%= product.price %></p>    
                        </li>
                    <% }) %>
                </ul>
            </div>
            
        </div>

        <div class="seccion" id="tragos">
            <div class="contenedor-banner"> 
                <img class= image-banner src="\imgs\tragos-banner.jpg" alt="Foto tragos"> 
                <h2 class="title-banner">Tragos y gaseosas</h2>
            </div>
            <div class="contenedor-listado-producto">
                <ul class="listado-productos">
                    <% tragos.forEach(product => { %>
                        <li class="producto">
                            <div class="foto-nombre-detalle">
                                <a href="/products/detalle-producto"><img class="foto-producto" src="<%=product.image%>" width=50px alt="Foto Producto"></a>
                                <div class="nombre-detalle">    
                                    <p class="titulo-producto"><%= product.name %></p>
                                    <p class="detalle-producto"><%= product.description %></p>
                                </div>
                            </div>
                            <p class="precio">$<%= product.price %></p>    
                        </li>
                    <% }) %>
                </ul>
            </div>
            
        </div>

    </main>

    <footer>
    </footer>
    
</body>
</html>